/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.wrapper {
    width: 90%;
    max-width: 1026px;
    margin: 0 auto;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.header-container {
    padding-top: 10px;
    background: #FFFFFF;

    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
       -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
            box-shadow: 0 0 4px rgba(0, 0, 0, .5);

    font-size: 0px;
}
/*for sticky header*/
.header-container {
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 10000;
}

/*margin for sticky header*/
.main-container {
    margin-top: 70px;
    min-height: 800px;
}
.main.wrapper {
    padding: 25px 0;
}

/*for footer*/
.footer-container {
    background: #F1EFE6;
    border-top: 2px solid #E5E3dA;
    padding: 10px 0;
}

.footer-container p {
    margin: 0;
    color: #363636;
    font-size: .9em;
    text-align: center;
}
.footer-container span {
    display: none;
}

/* for logo at header*/
.header-container .logo-box {
    padding-bottom: 10px;
}
.header-container .logo-box a {
    display: inline-block;
}
.header-container .logo {
    width: 130px;
    height: auto;
    display: inline-block;
}

/*NAVIGATION*/
#menu-switch {
    float: right;
    padding: 8px 12px;
    margin-top: 8px;
    border: 0;
    background: #F5F5F5;
    color: #363636;
    transition: all 0.1s linear;
    font-size: initial;
}
#menu-switch.open {
    background: #ADADAD;
    color: #F5F5F5;
}   
#main-nav { 
    display: none;
}
#main-nav ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}
#main-nav ul li {
    display: block;
    border-top: 1px solid #EBEBEB;
    text-align: center;
}
#main-nav a {
    padding: 8px 0;
    font-size: 18px;
    text-decoration: none;
    color: #363636;
    display: block;
}
#main-nav li.active {
    background: #368571;
}
#main-nav li.active a {
    color: white;
}

/* ========================
    BANNERS
   ======================== */

.banner {
    width: 100%;
    height: 120px; 
}

.banner .wrapper {
    height: 100%;
    color: white;
    position: relative;
}

.banner-name {
    font-weight: bold;
    font-size: 2.5em; 

    position: absolute;
    bottom: 10px; 
    left: 0;
    margin: 0;
    line-height: 1em;
}

#banner-home {
    height: 325px; 
    background:
        linear-gradient(
            rgba(29, 71, 61, 0.7),
            rgba(29, 71, 61, 0.7)
        ), 
        url(../img/banner-home.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;
}

#banner-about {
    background : 
        linear-gradient(
            rgba(29, 71, 61, 0.7),
            rgba(29, 71, 61, 0.7)
        ), 
        url(../img/banner-about.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;
}

#banner-gallery {
    background : 
        linear-gradient(
            rgba(29, 71, 61, 0.7),
            rgba(29, 71, 61, 0.7)
        ), 
        url(../img/banner-gallery.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;
}

#banner-contact {
    background : 
        linear-gradient(
            rgba(29, 71, 61, 0.7),
            rgba(29, 71, 61, 0.7)
        ), 
        url(../img/banner-contact.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;
}

#banner-home .banner-name {
    position: absolute;
    left: 0;
    bottom: 15%; 
    width: 100%;
    text-align: center;
    color: #FBFBFB;

    font-size: 1.5em; 
    line-height: 1.5em; 
}

#banner-home span {
    display: block;
    font-weight: normal;
    font-size: .9em; 
    line-height: .9em; 
}

#banner-home h1,
#banner-home span {
    margin: 0 0 20px 0; 
}

#banner-home button {
    border: 0;
    padding: 5px 25px;
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: .75em;

    background: #613239;
    transition: background 0.1s linear;
}

#banner-home button:hover {
    background: #4D282D;
}
#banner-home button:hover,
#banner-home button:visited {
    color: white;
}

/* ========================
    HOME Page
   ======================== */

.home-section {
    width: 100%;
    padding: 20px 0px;
    box-sizing: border-box;
}
/*HOME SERVICES SECTION*/
#home-services h3 {
    text-align: center;
    margin: 0;
    font-weight: 400;
    color: #1D473D;
    font-size: 1.6em;
    padding-top: 10px;
}
#home-services .box {
    text-align: center;
    padding: 20px 0 10px 0;
}
#home-services .box i {
    display: none;
    color: #1D473D;
}
#home-services .box h4 {
    margin: 0 0 5px 0;
    color: #1D473D;
}
#home-services .box p {
    margin: 0;
}
#home-services .box br {
    display: none;
}
/*HOME WHAT/WHY SECTION*/
#home-what {
    border-top: 2px solid #EBEBEB;
    background: #F5F5F5;
}
#home-what-is {
    text-align: center;
    margin: 10px 0 30px 0;
}
#home-what-is span {
    font-weight: bold;
    display: block;
    font-size: 1.8em;
    line-height: 1.2em;
    margin: 0 0 35px 0;
}
#home-what-is a {
    display: inline-block;
    padding: 12px 25px;
    color: white;
    text-decoration: none;

    background: #3F9982;
    transition: background 0.1s linear;
}
#home-what-is a:hover {
    background: #2E7060;
}
#home-what-is a:hover,
#home-what-is a:visited {
    color: white;
}
#home-what-why {
    background: #368571;
    border-top: 20px solid #2E7060;
    color: white;
    text-align: center;
    padding: 15px;
}
#home-what-why h3 {
    margin: 0;
}
#home-what-why p {
    margin: 15px 0 5px 0;
}

/*HOME TESTIMONIALS SECTION*/
#home-testimonials {
    background : 
        linear-gradient(
            rgba(77, 40, 45, 0.90),
            rgba(77, 40, 45, 0.90)
        ), 
        url(../img/home-testimonials.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;
    min-height: 250px;
    color: #FBFBFB;
}
#home-testimonials h3 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    font-weight: normal;
}
#home-testimonials-box {
    padding-top: 15px;
    font-size: .95em;
    line-height: 1.4em;
}
#home-testimonials-box .testimonial {
    padding: 0 15px;
}
#home-testimonials-box .testimonial p {
    margin: 0;
    text-align: justify;
    font-style: italic;
}
#home-testimonials-box .testimonial h4 {
    margin-bottom: 0;
}
#home-testimonials-box i {
    padding: 0 0 5px 15px;
}

/*HOME CONTACT SECTION*/
#home-contact {
    text-align: center;
    font-size: 1.2em;
    padding: 30px 0;
}
#home-contact h3 {
    margin: 0;
    font-size: 2em;
    line-height: 1em;
}
#home-contact p {
    margin-bottom: 15px;
}
#home-contact a {
    display: inline-block;
    padding: 15px 40px;
    color: white;
    text-decoration: none;

    background: #3F9982;
    transition: background 0.1s linear;
}
#home-contact a:hover {
    background: #2E7060;
}
#home-contact a:hover,
#home-contact a:visited {
    color: white;
}

/* ========================
    ABOUT US Page
   ======================== */

#about-images {
    display: none;
}
#about-company h2 {
    margin: 0;
    padding-bottom: 15px;
}

#about-company>p {
    margin: 0;
}

#about-services {
    margin: 30px 0 0 0px; 
}
#about-services h3 {
    margin: 0;
    padding-bottom: 15px;
}
#about-services ul {
    margin: 0;
}
#about-services li,
#about-services p {
    margin: 0;
    list-style-type: none;
    text-align: left;
}

#about-services li p:nth-of-type(1) {
    font-weight: bold;
    width: 80%;
}

#about-services li {
    margin-bottom: 15px;
}

#about-services li p:not(:nth-of-type(1)) {
    margin-left: 20px;
    font-size: .95em;
    list-style-position: inside;
    text-indent: -1em;
}

#about-services li p:not(:nth-of-type(1)):before {
    content: "- ";
}

#about-services li p:nth-of-type(1),
#about-services i {
    display: inline-block;
    margin-right: 10px;
    color: #1D473D;
    vertical-align: middle;
}

#about-services ul {
    padding-left: 0px; 
}

#about-owner {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 30px 0 10px 0;

    border-top: 20px solid #2E7060;
    background: #368571;
    color: white;
    padding: 0px 5% 10px;

}
#about-owner h2 {
    margin: 15px 0;
    font-size: 1.2em;
}

#about-owner p {
    margin: 15px 0;
    text-align: justify;
    font-size: .95em;
}

.contact-footer {
    border-top: 2px solid #EBEBEB;
    background: #F5F5F5;
}

/* ========================
    GALLERY Page
   ======================== */

.project-box h2 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px; 
}

.project-box p {
    font-size: .9em;
    line-height: 1.2em;
    margin-top: 0;
}

.project-img-main {
    width: 100%;
    height: 60vw;
    background: yellow;
}

.project-img-thumb {
    width: 24%;
    height: 14.4vw;
    background: green;
    display: inline-block;
    margin: 5px .5%; 
}

#prj-1 {
    background : url(../img/projects/prj-1-1.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;  
}

#prj-2 {
    background : url(../img/projects/prj-1-2.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;  
}
#prj-3 {
    background : url(../img/projects/prj-1-3.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;  
}

#prj-4 {
    background : url(../img/projects/prj-1-4.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;  
}
#prj-5 {
    background : url(../img/projects/prj-1-5.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;  
}
#prj-6 {
    background : url(../img/projects/prj-2-1.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;  
}
#prj-7 {
    background : url(../img/projects/prj-2-2.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;  
}
#prj-8 {
    background : url(../img/projects/prj-2-3.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;  
}
#prj-9 {
    background : url(../img/projects/prj-2-4.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;  
}
#prj-10 {
    background : url(../img/projects/prj-2-5.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;  
}
#prj-11 {
    background : url(../img/projects/prj-3-1.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;  
}
#prj-12 {
    background : url(../img/projects/prj-3-2.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;  
}
#prj-13 {
    background : url(../img/projects/prj-3-3.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;  
}
#prj-14 {
    background : url(../img/projects/prj-3-4.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;  
}
#prj-15 {
    background : url(../img/projects/prj-3-5.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;  
}
/* ========================
    CONTACT US Page
   ======================== */

fieldset {
    padding: 10px 15px;
}

legend {
    padding: 0 5px;
}

.contact-panel h2 {
    font-weight: normal;
    margin: 0;
}

.form-field {
    margin-bottom: 10px;
    width: 100%;
}

.form-field label {
    font-size: 0.9em;
}

.form-field input:not([type=submit]):not([type=file]), 
.form-field textarea {
    border: 1px solid #E1E1E1;
    background: #F5F5F5;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;

    /*for rounded edges*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.form-field abbr {
    color: #2E7060;
    font-size: 1.1em;
    font-weight: bold;
}

#contact-submit {
    border: 0;
    color: white;
    padding: 10px 18px;
    
    background: #337AB7;
    transition: background 0.1s linear;
}

#contact-submit:hover {
    background: #286090;
}

#contact-help {
    font-size: .9em;
    box-sizing: border-box;
    padding: 5px 10px;
    margin: 5px 0 15px 0;
}

#contact-help h3,
#contact-help p {
    margin: 0;
}

#contact-help h3,
#contact-help i {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

.contact-success {
    color: #468847;
    background: #DFF0D8;
    border: 2px solid #468847;
}

.contact-error {
    color: #C7254E;
    background: #F9F2F4;
    border: 2px solid #C7254E;
}

#contact-details {
    margin-top: 30px; 
}

#contact-details h2 {
    margin-left: 15px;
}

#contact-details-box div {
    margin: 15px 0px 10px 10px;
}

#contact-details-box i,
#contact-details-box p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: 15px;
}

#contact-details-box p {
    font-size: 0.9em;
}

#contact-details-box i {
    color: #2E7060;
}

#contact-map {
    height: 300px; 
    width: 100%;
    border: 0;
    margin: 10px 0px 50px 0px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 639px) {
    .header-container>.wrapper {
        margin: 0;
        width: 100%;
    }
}
@media only screen and (min-width: 640px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
    .header-container>.wrapper>.wrapper {
        margin: 0;
        display: inline-block;
        width: unset;
        max-width: unset;
        vertical-align: bottom;
    }   
    .header-container .logo-box {
        display: inline-block;
        padding-right: 20px;
        vertical-align: bottom:;
    }
    #menu-switch {
        display: none;
    }
    .header-container .spacer {
        display: inline-block;
        width: calc(100% - 150px);
        text-align: right;
    } 
    #main-nav {
        display: inline-block;
        width: 100%;
        max-width: 450px;
    }
    #main-nav ul {
        font-size: 0;
    }
    #main-nav ul li {
        border: 0;
        background: transparent;
        width: 25%;
        display: inline-block;
        border-bottom: 10px solid transparent;
        transition: 0.1s linear;
        vertical-align: bottom;
    }
    #main-nav ul li a {
        padding: 15px 0 5px 0;
        font-size: initial
    }
    #main-nav ul li.active {
        background: transparent;
        border-bottom: 10px solid #2E7060;
        font-weight: bold;
    }
    #main-nav ul li.active a {
        color: #363636;
    }
    #main-nav ul li a:visited,
    #main-nav ul li a:hover {
        color: #363636;
    }
    #main-nav ul li:hover {
        border-bottom: 10px solid #2E7060;
        font-weight: bold;
        transition: 0.1s linear;
    }

/* ========================
    BANNERS
   ======================== */

    .banner {
        height: 150px;
    }

    .banner-name {
        font-size: 3.5em;
    }

    #banner-home {
        height: 625px;
    }

    #banner-home .banner-name {
        position: absolute;
        left: 0;
        bottom: 25%;
        width: 100%;
        text-align: center;

        font-size: 2.5em; 
    }

    #banner-home h3 {
        font-weight: normal;
        font-size: .9em; 
        line-height: .9em; 
    }

    #banner-home h1,
    #banner-home h3 {
        margin: 0 0 30px 0;
    }

    #banner-home button {
        padding: 0 40px;
        font-size: .55em;

        background: #613239;
        transition: background 0.1s linear;
    }

/* ========================
    HOME Page
   ======================== */
   /*HOME SERVICES SECTIOn*/
    #home-services h3 {
        display: none;
    }
    #home-services .box-group {
        font-size: 0;
    }
    #home-services .box {
        display: inline-block;
        font-size: initial;
        text-align: left;
        vertical-align: top;
        width: 50%;
        padding: 10px 15px;
        box-sizing: border-box;
    }
    #home-services .box i {
        display: inline-block;
        vertical-align: top;
        margin-top: 10px;
        margin-right: 5px;
    }
    #home-services .box h4 {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 5px 0;
    }
    #home-services .box br {
        display: inline-block;
    }

    /*HOME WHAT/WHY SECTION*/
    #home-what #home-what-is span {
        font-size: 2.2em;
    }

    /*HOME TESTIMONIALS SECTION*/
    #home-testimonials h3 {
        text-align: left;
    }
    #home-testimonials .testimonial {
        padding: 0;
    }
    #home-testimonials-box i {
        font-size: 2em;
        padding: 0 0 8px 0;
    }

    #home-testimonials-box h4 {
        margin-top: 15px;
    }

    #home-contact p br {
        display: none;
    }

/* ========================
    ABOUT US Page
   ======================== */

    #about-images {
        width: 40%;
        height: 350px;
        background: red;
        display: inline-block;
        margin-right: 2%;

        background : url(../img/about-images-1.jpg) no-repeat 0 0;
        background-position: center;
        background-size: cover;
    }

    #about-company {
        display: inline-block;
        width: 57%;
        vertical-align: top;
    }

    #about-services {
        margin: 30px 0 0 10px;
    }

    #about-services ul {
        padding-left: 20px;
    }

    #about-owner p {
        line-height: 1.5em;
    }

/* ========================
    GALLERY Page
   ======================== */

    .project-box {
        display: inline-block;
        vertical-align: top;
        width: 48%;
        margin: 20px 1% 40px 1%;
    }

    .project-box h2 {
        margin-bottom: 20px; 
    }

    .project-box p {
        line-height: 1.5em; 
    }

    .project-img-main {
        width: 100%;
        height: 28.8vw;
        background: yellow;
    }

    .project-img-thumb {
        width: 24%;
        height: 6.9vw;
        background: green;
        display: inline-block;
        margin: 15px .5%; 
    }

/* ========================
    CONTACT US Page
   ======================== */

    .contact-panel {
        width: 48%;
        margin: 0 1%;
        display:inline-block;
        vertical-align: top;
    }

    #contact-details {
        margin-top: 0;
    }

    #contact-map,
    #contact-details-box {
        margin-left: 15px;
    }

    /*map adjusts height*/
    #contact-map {
        height: 500px;
    }
}

@media only screen and (min-width: 768px) {
    #main-nav {
        max-width: 510px;
    }

/* ========================
    HOME Page
   ======================== */
    .footer-container {
        padding: 18px 0;
    }
    .footer-container p {
        text-align: left;
    }
    .footer-container br {
        display: none;   
    }

    #home-what {
        font-size: 0;
        padding: 30px 0;
    }
    #home-what-is,
    #home-what-why {
        font-size: initial;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
    }
    #home-what-is {
        width: 55%;
        margin: 0;
    }
    #home-what-why {
        width: calc(45% - 15px);
        margin-left: 15px;
    }
    #home-what-why h3 {
        font-size: 1.5em;
        line-height: 1;
    }
}

@media only screen and (min-width: 1080px) {
    .main-container {
        margin-top: 85px;
    }
    .header-container {
        min-height: 85px;
        box-sizing: border-box;
    }
    .header-container .logo {
        width: 165px;
    }
    .header-container .spacer {
        width: calc(100% - 185px);
    }

/* ========================
    HOME Page
   ======================== */
    #home-services {
        padding-top: 40px;
    }
    #home-services .box {
        width: 25%;
    }


    #home-what #home-what-is span {
        font-size: 2.5em;
    }
    #home-testimonials {
        min-height: 225px;
    }

    #home-what-why {
        width: calc(45% - 40px);
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */
/*
    .wrapper {
        width: 1026px;
        margin: 0 auto;
    }*/
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}