/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}*/

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
/*OVERRIDE*/
body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

/*OVERRIDE*/
.header-container {
    border-bottom: 20px solid #e44d26;
}

/*OVERRIDE*/
.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

/*OVERRIDE*/
.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold; /*override*/

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 40px 0 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 5px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'PT Sans', sans-serif;
}

/* ===================
    ALL: Custom Theme
   =================== */

.header-container {
    border-bottom: 0;
    padding-top: 10px;
    background: #FFFFFF;
}

/*for footer*/
.footer-container {
    background: #F1EFE6;
    border-top: 2px solid #E5E3dA;
}

.footer-container p {
    margin: 10px 0;
    color: #363636;
    font-size: .9em;
}

/* for logo at header*/
.title {
    text-decoration:none;
    border:0;
    width : 200px;
    height : 65px;
    margin : 0;
    padding : 0;
    margin-bottom : 10px;
    
    background : url(../img/logo.png) no-repeat 0 0;
    background-size: contain;
}

.title a {
    display : block;
    height : 65px;
    text-indent : -9999px; 
}

/*navigation custom formats*/
nav a {
    background: #2E7060;
    font-weight: normal;
}

.main aside {
    border-top: 20px solid #2E7060;
    background: #368571;
}

.main aside p {
    font-size: .95em;
    line-height: 1.6em;
}

.main aside h2 {
    font-size: 1.2em; /*for mobile*/
}


/* ========================
    BANNERS
   ======================== */

/*banner formats*/
.banner {
    width: 100%;
    height: 120px; /*for mobile*/
    background: #2E7060;
}

.banner .wrapper {
    height: 100%;
    color: white;
    position: relative;
}

.banner-name {
    font-weight: bold;
    font-size: 2.5em; /*for mobile*/

    position: absolute;
    bottom: 15px; /*for mobile*/
    left: 0;
    margin: 0;
}

#banner-home {
    height: 600px;
    background:
        linear-gradient(
            rgba(46, 112, 96, 0.6),
            rgba(46, 112, 96, 0.6)
        ), 
        url(../img/banner-home.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;
}

#banner-about {
    background : 
        linear-gradient(
            rgba(46, 112, 96, 0.65),
            rgba(46, 112, 96, 0.65)
        ), 
        url(../img/banner-about.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;
}

#banner-gallery {
    background : 
        linear-gradient(
            rgba(46, 112, 96, 0.65),
            rgba(46, 112, 96, 0.65)
        ), 
        url(../img/banner-gallery.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;
}

#banner-contact {
    background : 
        linear-gradient(
            rgba(46, 112, 96, 0.65),
            rgba(46, 112, 96, 0.65)
        ), 
        url(../img/banner-contact.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;
}

/* ========================
    HOME Page
   ======================== */
.home-section {
    width: 100%;
    padding: 20px 0px;
    box-sizing: border-box;
}

#home-services {
    border-bottom: 2px solid #EBEBEB;
}

.home-services-box {
    width: 100%; /*for mobile*/
    margin: 0; /*for mobile*/

    box-sizing: border-box;
    padding: 10px 10px 0 10px;
}

.home-services-box h4 {
    margin-top: 0;
    height: 35px;
    line-height: 1.3em;
}

.home-services-box i,
.home-services-box h4 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;

    color: #1D473D;
}

.home-services-box p {
    font-size: .95em;
    line-height: 1.5em;
}

#home-what {
    background: #F5F5F5;
}

#home-what article {
    text-align: center;
    margin-bottom: 40px;
}

#home-what h1 {
    font-size: 1.8em;
    line-height: 1.2em;
    margin: 0 0 40px 0;
}

#home-what a {
    padding: 15px 30px;
    color: white;
    text-decoration: none;

    background: #3F9982;
    transition: background 0.1s linear;
}

#home-what a:hover {
    background: #2E7060;
}

#home-what a:hover,
#home-what a:visited {
    color: white;
}

#home-testimonials {
    background : 
        linear-gradient(
            rgba(77, 40, 45, 0.90),
            rgba(77, 40, 45, 0.90)
        ), 
        url(../img/home-testimonials.jpg) no-repeat 0 0;
    background-position: center;
    background-size: cover;
    height: 300px;
}

#home-testimonials h1 {
    color: white;
    margin: 0;
}

#home-contact h1 {
    margin: 10px 0 0 0;
    font-size: 2em;
    line-height: 1em;
}

#home-contact p {
    margin-bottom: 30px;
}

#home-contact a {
    padding: 15px 40px;
    color: white;
    text-decoration: none;

    background: #3F9982;
    transition: background 0.1s linear;
}

#home-contact a:hover {
    background: #2E7060;
}

#home-contact a:hover,
#home-contact a:visited {
    color: white;
}


#home-contact {
    text-align: center;
    font-size: 1.2em;
}

/* ========================
    CONTACT US Page
   ======================== */

fieldset {
    padding: 10px 15px;
}

legend {
    padding: 0 5px;
}

.contact-panel h2 {
    font-weight: normal;
    margin: 0;
}

.form-field {
    margin-bottom: 10px;
    width: 100%;
}

.form-field label {
    font-size: 0.9em;
}

.form-field input:not([type=submit]):not([type=file]), 
.form-field textarea {
    border: 1px solid #E1E1E1;
    background: #F5F5F5;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;

    /*for rounded edges*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.form-field abbr {
    color: #2E7060;
    font-size: 1.1em;
    font-weight: bold;
}

#contact-submit {
    border: 0;
    color: white;
    padding: 10px 18px;
    
    background: #337AB7;
    transition: background 0.1s linear;
}

#contact-submit:hover {
    background: #286090;
}

#contact-details {
    margin-top: 30px; /*for mobile*/
}

#contact-details h2 {
    margin-left: 15px;
}

#contact-details-box div {
    margin: 15px 0px 10px 10px;
}

#contact-details-box i,
#contact-details-box p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: 15px;
}

#contact-details-box p {
    font-size: 0.9em;
}

#contact-details-box i {
    color: #2E7060;
}

#contact-map {
    height: 300px; /*for mobile*/
    width: 100%;
    border: 0;
    margin: 10px 0px 50px 0px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 640px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a:hover {
        border-bottom: 10px solid #2E7060;
        font-weight: bold;
    }

    nav a {
        float: left;
        width: 21%;
        padding: 36px 2% 5px 2%;
        margin-bottom: 0;

        height: 25px;
        background: transparent;
        color: #363636;

        border-bottom: 10px solid transparent;
        transition: border-bottom 0.1s linear;
    }

    nav a:hover,
    nav a:visited {
        color: #363636;
    }   

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    /*for sticky header*/
    .header-container {
        position: fixed; 
        top: 0; 
        width: 100%;
        height: 75px;
        z-index: 10000;
    }

    /*margin for sticky header*/
    .main-container {
        margin-top: 85px;
        min-height: 800px;
    }

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 50%;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }

/* ========================
    BANNERS
   ======================== */

    .banner {
        height: 150px;
    }

    .banner-name {
        font-size: 3.5em;
        bottom: 25px;
    }

/* ========================
    HOME Page
   ======================== */

    .home-services-box:nth-of-type(1),
    .home-services-box:nth-of-type(2) {
        display: inline-block;
        width: 49%;
        margin: 0 0.5%;
        display: inline-block;
        vertical-align: top;    
    }

    .home-services-box:nth-of-type(3),
    .home-services-box:nth-of-type(4) {
        display: inline-block;
        width: 49%;
        margin: 0 0.5%;
        display: inline-block;
        vertical-align: top;
    }

    #home-what h1 {
        font-size: 2.2em;
    }

    .main article {
        display: inline-block;
        vertical-align: top;

        width: 57%;
        margin: 15px 20px 15px 0;
    }

    .main aside {
        display: inline-block;
        width: 28%;
        margin: 15px 0;
    }

    .main aside h2 {
        font-size: 1.5em;
    }


/* ========================
    CONTACT US Page
   ======================== */

    .contact-panel {
        width: 48%;
        margin: 0 1%;
        display:inline-block;
        vertical-align: top;
    }

    #contact-details {
        margin-top: 0;
    }

    #contact-map,
    #contact-details-box {
        margin-left: 15px;
    }

    /*map adjusts height*/
    #contact-map {
        height: 500px;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

/*    .header-container,
    .main aside {
        -webkit-box-shadow: 0 2px 4px #636363;
           -moz-box-shadow: 0 2px 4px #636363;
                box-shadow: 0 2px 4px #636363;
    }
*/
/* ============
    WIDE: Menu
   ============ */


/*    .title {
        float: left;
    }

    nav {
        float: right;
        width: 50%;
    }*/



/* ============
    WIDE: Main
   ============ */

}

@media only screen and (min-width: 1080px) {

/* ========================
    HOME Page
   ======================== */

    .home-services-box:nth-of-type(1),
    .home-services-box:nth-of-type(2),
    .home-services-box:nth-of-type(3),
    .home-services-box:nth-of-type(4) {
        width: 24%;
        margin: 0 0.5%;
        display: inline-block;
        vertical-align: top;
    }

    #home-what h1 {
        font-size: 2.5em;
    }

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}